@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  height: 200%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  transition: background-image 0.5s ease-in-out;
}

#clock {
  font-size: 3rem;
  font-weight: 700;
  margin: 3rem auto;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.hidden {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  transition: all 0.3s ease;
}

#login-form,
#greeting {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 300px;
  margin: 1rem auto;
  margin-top: 0;
}

#login-form input {
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
  border: none;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  width: 90%;
  transition: all 0.3s ease;
  color: #7d7b7b;
  text-align: center;
}

#login-form input:focus {
  outline: none;
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

#login-form input::placeholder {
  color: #999;
}

#login-form button {
  padding: 0.5rem;
  border: none;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 1rem;
  width: 90%;
  font-weight: 500;
  transition: all 0.3s ease;
  color: white;
  cursor: pointer;
}

#login-form button:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-2px);
}

#greeting {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.todo-container {
  background: rgba(207, 207, 207, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 1.5rem;
  width: 30rem;
  margin: 2rem auto;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-form input {
  width: 80%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: none;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.9);
  font-size: 0.8rem;
  color: #7d7b7b;
  text-align: center;
  transition: all 0.3s ease;
  margin: auto;
}
#todo-form input:focus {
  outline: none;
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(93, 89, 89, 0.5);
}

#todo-form input::placeholder {
  color: #999;
  text-align: center;
}

#todo-list {
  width: 70%;
  list-style: none;
  padding: 0.5rem;
  margin-top: 0.5rem;
  max-height: 215px;
  overflow-y: auto;
}

#todo-list li {
  background: rgba(149, 149, 149, 0.4);
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  margin-top: 0.6rem;
}

#todo-list li:hover {
  background: rgba(149, 149, 149, 0.2);
  transform: translateX(5px);
}

#todo-list span {
  /* padding-left: 1rem;   */
  font-size: 0.8rem;
}

#todo-list button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.5rem;
  padding: 0rem;
  transition: all 0.3s ease;
}

#todo-list button:hover {
  transform: scale(1.2);
  color: #ff6b6b;
}

#weather {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  padding: 0.8rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: auto;
}

#weather span {
  font-size: 0.7rem;
  color: #fff;
}

#quote {
  position: fixed;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#quote span {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
}
